.container{
    margin-top: 0px;
}
.side-bar{
    margin-top: 10px;
    height: 100%;
}
.nav-bar{
  
}
.layout{
    box-shadow: 0 0 1px black;
}
.feed{
    padding-top: 100px;
    height: 400px;
}
#logo{
    width: 32px;
    margin-left: 10px;
}
.side-bar a{
    margin: 1.5%;
}
#sidebar-tweet-btn{
    display: block;
    margin: 0 25% 25% 0;
    font-weight: bold;
    padding: 2.8%;
    background-color: #00acee;
}